@media screen and (max-width: 999px) {
  #main-player #recently-played .container-copertine{
    flex-wrap: wrap;
  }
  #main-player #recently-played .container-copertine .copertina{
    width: calc(100% / 4);
    padding-bottom: 40px;
  }
  #main-player #creato-per .container-copertine{
    flex-wrap: wrap;
  }
  #main-player #creato-per .container-copertine .copertina{
    width: calc(100% / 4);
  }
  #main-player #popular-artists .container-copertine{
    flex-wrap: wrap;
  }
  #main-player #popular-artists .container-copertine .copertina{
    width: calc(100% / 4);
  }
  #main-player #categories nav{
    width: 80%;
    margin: 0 auto;
  }
  #main-player #categories nav ul{
    flex-wrap:wrap;
    justify-content: center;
  }
  footer .box.footer-center .track-bar .bar{
    margin: 0 20px;
  }
}

@media screen and (max-width: 779px){
  #main-player #recently-played .container-copertine .copertina{
    width: calc(100% / 2);
  }
  #main-player #creato-per .container-copertine .copertina{
    width: calc(100% / 2);
  }
  #main-player #popular-artists .container-copertine .copertina{
    width: calc(100% / 2);
  }
  footer .box.footer-left .like-save.d-flex{
    flex-direction: column;
  }
  footer .box.footer-left .like-save.d-flex i{
    margin-bottom: 5px;
  }
  footer .box.footer-left,
  footer .box.footer-center,
  footer .box.footer-right{
    margin: 5px;
  }
}

@media screen and (max-width: 629px){
  main .container-sinistro #lateral .logo img,
  main .container-sinistro #lateral .home-cerca-librerie-playlist .playlist .nome-playlist,
  main .container-sinistro #lateral .home-cerca-librerie-playlist .playlist,
  main .container-sinistro #lateral .home-cerca-librerie-playlist .home span,
  main .container-sinistro #lateral .home-cerca-librerie-playlist .cerca span,
  main .container-sinistro #lateral .home-cerca-librerie-playlist .libreria span,
  main .container-sinistro #lateral .profile a span,
  main .container-sinistro #lateral .profile #border
  {
    display: none;
  }

  main .container-sinistro #lateral .logo{
    height: 55px;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  
  main .container-sinistro #lateral .logo a.nascosto img{
    display: inline-block;
    width: 58%;
    margin-top: 5px;
  }
  main .container-sinistro #lateral .home-cerca-librerie-playlist i.fa-house{
    margin-right: 3px;
  }
  main .container-sinistro #lateral .home-cerca-librerie-playlist .home,
  main .container-sinistro #lateral .home-cerca-librerie-playlist .cerca,
  main .container-sinistro #lateral .home-cerca-librerie-playlist .libreria{
    padding-bottom: 10px;
  }
  main .container-sinistro.responsive{
    width: 55px;
  }
  main .container-destro.responsive{
    width: calc(100vw - 55px);
  }
  main .container-destro.responsive #fixed{
    width: calc(100vw - 55px);
  }
  main .container-sinistro #lateral .home-cerca-librerie-playlist,
  main .container-sinistro #lateral .profile{
    padding: 0;
  }
  main .container-sinistro #lateral .home-cerca-librerie-playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100% - 125px);
  }
  main .container-sinistro #lateral .home-cerca-librerie-playlist i{
    margin: 0;
  }
  main .container-sinistro #lateral .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}