@media screen and (max-width: 999px) {
  #main-player #recently-played .container-copertine{
    flex-wrap: wrap;
  }
  #main-player #recently-played .container-copertine .copertina{
    width: calc(100% / 4);
    padding-bottom: 40px;
  }
  #main-player #creato-per .container-copertine{
    flex-wrap: wrap;
  }
  #main-player #creato-per .container-copertine .copertina{
    width: calc(100% / 4);
  }
  #main-player #popular-artists .container-copertine{
    flex-wrap: wrap;
  }
  #main-player #popular-artists .container-copertine .copertina{
    width: calc(100% / 4);
  }
  #main-player #categories nav{
    width: 80%;
    margin: 0 auto;
  }
  #main-player #categories nav ul{
    flex-wrap:wrap;
    justify-content: center;
  }
  footer .box.footer-center .track-bar .bar{
    margin: 0 20px;
  }
}

@media screen and (max-width: 779px){
  #main-player #recently-played .container-copertine .copertina{
    width: calc(100% / 2);
  }
  #main-player #creato-per .container-copertine .copertina{
    width: calc(100% / 2);
  }
  #main-player #popular-artists .container-copertine .copertina{
    width: calc(100% / 2);
  }
  footer .box.footer-left .like-save.d-flex{
    flex-direction: column;
  }
  footer .box.footer-left .like-save.d-flex i{
    margin-bottom: 5px;
  }
  footer .box.box.footer-left,
  footer .box.footer-center,
  footer .box.footer-right{
    margin: 5px;
  }
}