/* MAIN */
main{
  height: calc(100vh - 100px);
}

/* MAIN CONTAINER SINISTRO */
main .container-sinistro{
  width: 200px;
  background-color: black;
}
.container-sinistro #lateral{
  height: 100%;
}
.container-sinistro #lateral .logo{
  width: 85%;
  height: 100px;
  padding: 20px 15px;
}
.container-sinistro #lateral .home-cerca-librerie-playlist{
  min-height: calc(100% - 170px);
  padding: 0 20px;
}
.container-sinistro #lateral .home-cerca-librerie-playlist i{
  width: 20px;
  color: grey;
  font-size: 1.3rem;
  margin-right: 8px;
} 
.container-sinistro #lateral .home-cerca-librerie-playlist i.fa-house{
  color: white;
}
.container-sinistro #lateral .home-cerca-librerie-playlist span{
  color: #696969;
  font-weight: bold;
  font-size: 0.8rem;
}
.container-sinistro #lateral .home-cerca-librerie-playlist .home,
.container-sinistro #lateral .home-cerca-librerie-playlist .cerca,
.container-sinistro #lateral .home-cerca-librerie-playlist .libreria{
  padding-bottom: 20px;
} 
.container-sinistro #lateral .home-cerca-librerie-playlist .playlist{
  flex-direction: column;
  margin-top: 10px;
}
.container-sinistro #lateral .home-cerca-librerie-playlist .playlist #playlist-span{
  color: white;
}
.container-sinistro #lateral .home-cerca-librerie-playlist .playlist .crea-playlist a.d-flex{
  align-items: center;
  padding: 10px 0;
}
.container-sinistro #lateral .home-cerca-librerie-playlist .playlist .crea-playlist i{
  padding-right: 35px;
  font-size: 2.5rem;
  color: #a3a3a3;
}
.container-sinistro #lateral .home-cerca-librerie-playlist .playlist .crea-playlist span{
  color: #a3a3a3;
}
.container-sinistro #lateral .home-cerca-librerie-playlist .playlist .nome-playlist{
  flex-direction: column;
  line-height: 36px
}
.container-sinistro #lateral .profile{
  height: 70px;
  padding: 0 20px;
  color: #a3a3a3;
}
.container-sinistro #lateral .profile i{
  margin-right: 6px;
  font-size: 0.9rem;
}
.container-sinistro #lateral .profile #installa span{
  font-size: 0.8rem;
}
.container-sinistro #lateral .profile #border{
  margin-top: 10px;
  border: 1px solid grey;
}
.container-sinistro #lateral .profile #profile-name{
  padding-top: 10px;
}
.container-sinistro #lateral .profile #profile-name i{
  font-size: 1.5rem;
}
.container-sinistro #lateral .profile #profile-name span{
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 24px;
}
/* /MAIN CONTAINER SINISTRO */


/* MAIN CONTAINER DESTRO */
main .container-destro{
  width: calc(100vw - 200px);
  overflow-y: auto;
}

/* MAIN .CONTAINER .DESTRO .FIXED */
#fixed{
  position: fixed;
  height: 100px;
  width: calc(100% - 200px);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  align-items: center;
  justify-content: flex-end;
}

#fixed button{
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-style: none;
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
}
/* /MAIN .CONTAINER .DESTRO .FIXED */



/* MAIN .CONTAINER .DESTRO .MAIN-PLAYER */
.container-destro{
  background-color: #141922;
}
#main-player{
  padding-top: 100px;
}
#main-player #categories{
  margin-bottom: 15px;
}
#main-player #categories nav ul li{
  margin: 20px 10px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
}
#main-player h2{
  padding: 10px 0;
  color: white;
}
#main-player span{
  display: block;
  color: white;
  text-align: center;
}
#main-player span.name{
  font-weight: bold;
  font-size: 1.1rem;
  padding: 5px 0;
}
#main-player span.artist-description{
  color: #818488;
  font-size: 0.8rem
}
#main-player p{
  color: white;
}
#recently-played{
  padding-bottom: 40px;
}
.container-copertine{
  padding: 10px 0;
}
.copertina{
  width: calc(100% / 6);
  padding: 0 5px;
}
.container-copertine .copertina img{
  width: 100%;
} 
#creato-per{
  padding-bottom: 20px;
}
#creato-per span.artist-description, #popular-artists span.artist-description{
  text-align:left;
  padding-bottom: 20px;
}

#popular-artists .container-copertine .copertina img{
  border-radius: 50%;
}
/* /MAIN .CONTAINER .DESTRO .MAIN-PLAYER */

/* /MAIN CONTAINER DESTRO */
/* /MAIN */


/* FOOTER */
footer{
  position: absolute;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  background-color: #282828;
}
footer .box{
  margin: 0 15px;
}
footer .box.footer-left .track-image{
  height: 50px;
}
footer .box.footer-left .track-image img{
  height: 100%;
}
footer .box.footer-left .track-description{
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}
footer .box.footer-left .track-description #track-name{
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
}
footer .box.footer-left .track-description #track-artist{
  color: grey;
  font-size: 0.7rem;
  font-weight: bold;
}
footer .box.footer-left .like-save{
  align-items: center;
  color: white;
}
footer .box.footer-left .like-save i{
  margin-right: 10px;
}
footer .box.footer-center{
  flex-direction: column;
}
footer .box.footer-center .play-control{
  align-items: center ;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  padding-bottom: 10px;
}
footer .box.footer-center .play-control i{
  cursor: pointer;
  padding: 0px 15px;
}
footer .box.footer-center .play-control .fa-circle-play{
  font-size: 2rem;
}
footer .box.footer-center .track-bar{
  align-items: center;
}
footer .box.footer-center .track-bar span{
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  line-height: 19px
}

.box.footer-center .track-bar .bar{
  border-radius: 10px;
  width: 25vw;
  margin: 0 25px;
  background-color: grey;
}
footer .box.footer-center .track-bar .bar .white-bar{
  border: 2px solid white;
  width: 20%;
}
footer .box.footer-right{
  align-items: center;
}
footer .footer-right i{
  color: white;
  font-size: 0.8rem;
  cursor: pointer;
  width: 1vw;
  margin-right: 15px;
}
footer .box.footer-right .volume-bar{
  border-radius: 10px;
  width: 120px;
  background-color: grey;
  cursor: pointer;
  margin-left: 5px;
}
footer .box.footer-right .volume-bar .white-bar{
  border: 2px solid white;
  width: 40px;
}
/* FOOTER */